/* TODO: add a theme */
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  background-color: var(--color-background-default);
  color: var(--color-default);

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

:root {
  --color-background-code: rgba(0, 0, 0, 0.35);
  --color-background-default: #081120;
  --color-button-background: #2a3343;
  --color-button-background-hover: #454950;
  --color-button-border: #18181a;
  --color-code: #c67bff;
  --color-default: #ffffff;
  --color-horizontal-rule: #454950;
  --color-link: #dcadff;
  --color-panel-background: #192230;
  --color-panel-background-alternate: #202124;
  --color-solid-resize-bar: #454950;
  --color-solid-resize-bar-handle: rgba(255, 255, 255, 0.2);
}

#root {
  position: absolute;
  left: 1rem;
  right: 1rem;
  top: 1rem;
  bottom: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}